.card {
    display: flex;
    & + .card {
        margin-top: 26px;
    }
}

.card_big {
    max-width: 750px;
    flex-direction: column;
    align-items: center;
    .card__img {
        width: 97px;
        height: 97px;
    }

    .card__wrapper {
        position: relative;
        z-index: -1;
        margin-left: 0;
        margin-top: -40px;
        padding: 80px 16px 15px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
        border-radius: 32px;
        text-align: center;

        &::before,&::after {
            content: "";
            width: 40px;
            height: 26px;
            position: absolute;
            top: 24px;
        }

        &::before {
            left: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' viewBox='0 0 40 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4804 16.5425C19.4804 21.7657 15.1319 26 9.76674 26C4.40157 26 0.507458 21.9116 0.0531052 16.7069C-0.640556 8.76502 5.55625 2.11552 13.0795 8.03417e-07C10.5151 1.50963 8.72625 4.13515 8.42795 7.18869C8.86708 7.12801 9.31144 7.08493 9.76674 7.08493C15.1319 7.08493 19.4804 11.3187 19.4804 16.5425Z' fill='%23E7EBF0'/%3E%3Cpath d='M40.0001 16.5425C40.0001 21.7657 35.6517 26 30.286 26C24.9213 26 21.0267 21.9116 20.5719 16.7069C19.8782 8.76502 26.075 2.11552 33.5987 8.03417e-07C31.0344 1.50963 29.246 4.13515 28.9472 7.18869C29.3863 7.12801 29.8312 7.08493 30.286 7.08493C35.6517 7.08493 40.0001 11.3187 40.0001 16.5425Z' fill='%23E7EBF0'/%3E%3C/svg%3E%0A");
        }

        &::after {
            right: 16px;
            background-image: url('data:image/svg+xml,%3Csvg width="40" height="26" viewBox="0 0 40 26" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20.5196 9.45753C20.5196 4.23428 24.8681 0 30.2333 0C35.5984 0 39.4925 4.08837 39.9469 9.29309C40.6406 17.235 34.4438 23.8845 26.9205 26C29.4849 24.4904 31.2737 21.8648 31.5721 18.8113C31.1329 18.872 30.6886 18.9151 30.2333 18.9151C24.8681 18.9151 20.5196 14.6813 20.5196 9.45753Z" fill="%23E7EBF0"/%3E%3Cpath d="M0.000114603 9.45753C0.000114603 4.23428 4.34858 0 9.71423 0C15.0789 0 18.9735 4.08837 19.4283 9.29309C20.122 17.235 13.9252 23.8845 6.4015 26C8.96585 24.4904 10.7542 21.8648 11.053 18.8113C10.6139 18.872 10.1691 18.9151 9.71423 18.9151C4.34858 18.9151 0.000114603 14.6813 0.000114603 9.45753Z" fill="%23E7EBF0"/%3E%3C/svg%3E%0A');
        }
    }

    @media (min-width:1025px) {
        flex-direction: row;
        column-gap: 15px;

        .card__wrapper {
            margin: unset;
            z-index: unset;
        }
    }

    @media (min-width:1280px) {
        .card__img {
            width: 187px;
            height: 187px;
        }

        .card__wrapper {
            padding: 0 0 0 57px;
            background: unset;
            box-shadow: unset;
            border-radius: unset;
            text-align: left;

            &::before {
                top: 0;
                left: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' viewBox='0 0 40 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4804 16.5425C19.4804 21.7657 15.1319 26 9.76674 26C4.40157 26 0.507458 21.9116 0.0531052 16.7069C-0.640556 8.76502 5.55625 2.11552 13.0795 0C10.5151 1.50963 8.72625 4.13515 8.42795 7.18869C8.86708 7.12801 9.31144 7.08493 9.76674 7.08493C15.1319 7.08493 19.4804 11.3187 19.4804 16.5425Z' fill='%2300C368'/%3E%3Cpath d='M40 16.5425C40 21.7657 35.6515 26 30.2859 26C24.9212 26 21.0266 21.9116 20.5718 16.7069C19.8781 8.76502 26.0749 2.11552 33.5986 0C31.0343 1.50963 29.2459 4.13515 28.9471 7.18869C29.3862 7.12801 29.8311 7.08493 30.2859 7.08493C35.6515 7.08493 40 11.3187 40 16.5425Z' fill='%2300C368'/%3E%3C/svg%3E%0A");
            }

            &::after {
                top: unset;
                right: 0;
                bottom: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' viewBox='0 0 40 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5196 9.45753C20.5196 4.23428 24.8681 0 30.2333 0C35.5984 0 39.4925 4.08837 39.9469 9.29309C40.6406 17.235 34.4438 23.8845 26.9205 26C29.4849 24.4904 31.2738 21.8648 31.5721 18.8113C31.1329 18.872 30.6886 18.9151 30.2333 18.9151C24.8681 18.9151 20.5196 14.6813 20.5196 9.45753Z' fill='%2300C368'/%3E%3Cpath d='M-7.62939e-06 9.45753C-7.62939e-06 4.23428 4.34846 0 9.71411 0C15.0788 0 18.9734 4.08837 19.4282 9.29309C20.1219 17.235 13.9251 23.8845 6.40137 26C8.96573 24.4904 10.7541 21.8648 11.0529 18.8113C10.6138 18.872 10.1689 18.9151 9.71411 18.9151C4.34846 18.9151 -7.62939e-06 14.6813 -7.62939e-06 9.45753Z' fill='%2300C368'/%3E%3C/svg%3E%0A");
            }
        }

    }
}

.card__wrapper {
    margin-left: 15px;

    font-size: 16px;
    line-height: 150%;
    color: $text-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background: url(../img/card/person-img.jpg) center/cover no-repeat;
    filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.5));
    border-radius: 50%;

    @media (min-width:1280px) {
        width: 90px;
        height: 90px;
    }
}

.card__text {
    margin-bottom: 18px;
    & + .card__text {
        margin-top: 10px;
    }
}

.card__name {
    font-weight: 700;
}

.card_reverse {
    flex-direction: row-reverse;
    .card__wrapper {
        margin-left: 0;
        margin-right: 15px;
    }
}