.title-main {
    max-width: 475px;
    margin-bottom: 22px;
    padding-top: 64px;

    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: #2D2D2D;

    span {
        color: #FF8345;
    }

    @media (max-width:600px) {
        padding-top: 25px;
        font-size: 30px;
        margin-bottom: 14px;
        line-height: 1.3;
    }
}